{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["babel-plugin-module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src",
        "@services": "./src/services",
        "@mocks": "./__mocks__"
      }
    }],
    "babel-plugin-transform-async-to-promises"
  ]
}
