{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["babel-plugin-module-resolver", {
      "@": "./src"
    }],
    "babel-plugin-transform-async-to-promises"
  ]
}
