@media (max-width: 767px) {
  .weather-group {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-column-gap: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .weather-group {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.weather-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
