@import "_variables.scss";

@media (max-width: 767px) {
  .weather-card--temp {
    font-size: 40px !important;
  }
}

.weather-card {
  color: $cascading-white;
  background-color: $black-russian;
  box-shadow: var(--primary-weather-card-shadow);
}

.weather-card--location {
  font-size: 24px;
}

.weather-card--temp {
  font-size: 50px;
}

.weather-card--unit {
  font-size: 12px;
  vertical-align: text-top;
}
