:root {
  --primary-font-family: #{$primary-font-family};
  --primary-background-color: #{$primary-background-color};
  --primary-color: #{$primary-color};
  --primary-weather-card-shadow: #{$primary-weather-card-shadow};
  --primary-background-image-gradient: #{$primary-background-image-gradient};
  --black-bird: #{$black-bird};
  --cascading-white: #{$cascading-white};
}


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--primary-font-family);
}

html, body {
  min-height: 100vh;
  color: $cascading-white;
  background-image: var(--primary-background-image-gradient);
}

p {
  padding-bottom: 1em;
}

a, a:hover, a:focus, a:active {
  color: $organza-violet;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 0 15px 15px;
}
