@for $i from 1 through 10 {
  .m-#{$i} {
    margin: #{$i}em;
  }

  .mt-#{$i} {
    margin-top: #{$i}em;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}em;
  }

  .ml-#{$i} {
    margin-left: #{$i}em;
  }

  .mr-#{$i} {
    margin-right: #{$i}em;
  }
}
