@for $i from 1 through 10 {
  .p-#{$i} {
    padding: #{$i}em;
  }

  .pt-#{$i} {
    padding-top: #{$i}em;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}em;
  }

  .pl-#{$i} {
    padding-left: #{$i}em;
  }

  .pr-#{$i} {
    padding-right: #{$i}em;
  }
}
