@media (max-width: 767px) {
  .search-place {
    width: 100% !important;
  }
}

.search-place {
  width: 50%;
  box-shadow: var(--primary-weather-card-shadow);
}

.header--geo-report {
  max-width: 350px;
}

.header--search-result-wrapper {
  background-color: var(--cascading-white);
  color: var(--black-bird);
  width: 100%;
}
